<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- Testng xml file is used for execution also achiving parallel testing on emulator -->

<suite name="Suite" parallel="tests" thread-count="2">
	
	<test name="Test1">
	<parameter name="port" value="127.0.0.2:4724" />
	<parameter name="deviceName" value="emulator-5554" />
		<classes>
			<class name="com.amazon.setup.BaseSetup" />
			<class name="com.amazon.executor.TestExecutor" />
		</classes>
	</test> 
	
	 <test name="Test2" >	
	<parameter name="deviceName" value="emulator-5558" />
	<parameter name="port" value="127.0.0.2:4724" />	
		<classes>
			<class name="com.amazon.setup.BaseSetup" />
			<class name="com.amazon.executor.TestExecutor" />
		</classes>
	</test>  
	
</suite> <!-- Suite -->
